<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Music API</title>
        <link href="../assets/css/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <header>
        <h1>Music</h1>
    </header>
    <nav>
        <ul id="menu">
            <li id="home"> 
                Home 
            </li>
            <li id="myBlogs"> 
                My Blogs 
            </li>
            <li id="browse"> 
                Browse Music
            </li>
            <li id="vinyl"> 
                Vinyl Records 
            </li>
            <li id="register"> 
                Register 
            </li>
            <li id="login" class="selected"> 
                Login 
            </li>
            <li id="logout" hidden> 
                Logout 
            </li>
        </ul>
    </nav>
    <main>
