<%- include('header') -%>
    <section id="browsePage" hidden>
        <form id="search">
            <label for="searchTerm">Search: </label>
            <input id="searchTerm" name="searchDog" type="text" required/>
            <button type="submit">Submit</button>
        </form>
        <div class="results">
                <ul id="searchResults">
                </ul>
        </div>
    </section>










    <section id="homePage" hidden>
         <div class ="mainHomePage">
            <div class="postsHome">
                <div class="mainTitlePostsHome">
                    <h2>Latest Reviews</h2>
                </div>
                <div class="blogPostsHome"></div>
            </div>
            <div class="favBlogPostHome">
                <div class="mainTitleFavHome">
                    <h2>Favorite Reviews</h2>
                </div>
                <div class="favBlogsHome"></div>
            </div>
         </div>
    </section>








    
    <section id="myBlogsPage" hidden>
            <div class="mainMyBlogs">
                    <div class="postsMyBlogs">
                    </div>
                    <div class="modifyMyBlogs">
                        <h2>Modify Reviews</h2>
                        <h3>Post New Review</h3>
                        <fieldset class="newBlog">
                            <label for="titlePost" class="fielditem">Title </label>
                            <input type="text" id="titlePost" class="fielditem"/>
                            <label for="contentPost" class="fielditem">Content </label>
                            <textarea name="text" id="contentPost" class="content" rows="20" wrap="soft"></textarea>
                            <button id="postBlog">Post Review</button>
                            <h5 class="errorPost"></h5>
                        </fieldset>
                        <h3>Delete Review</h3>
                        <fieldset class="deleteBlog">
                            <label for="idDelete" class="fielditem">ID </label>
                            <input type="text" id="idDelete" class="fielditem"/>
                            <button id="deleteBlog">Delete Review</button>
                            <h5 class="errorDelete"></h5>
                        </fieldset>
                        <h3>Update Existing Review</h3>
                        <fieldset class="updateBlog">
                            <label for="idUpdate" class="fielditem">ID </label>
                            <input type="text" id="idUpdate" class="fielditem"/>
                            <label for="titleUpdate" class="fielditem">Title </label>
                            <input type="text" id="titleUpdate" class="fielditem"/>
                            <label for="contentUpdate" class="fielditem">Content </label>
                            <textarea name="text" id="contentUpdate" class="content" rows="20" wrap="soft"></textarea>
                            <button id="updateBlog">Update Review</button>
                            <h5 class="errorUpdate"></h5>
                        </fieldset>
                    </div>
                </div>
    </section>























    <section id="vinylPage" hidden>
            My Vinyls
    </section>
    <section id="registerPage" hidden>
        <h2>Register</h2>
        <label for="usernameRegister">Username: </label>
        <input id="usernameRegister" name="usernameRegister" type="text" required/>
        <label for="passwordRegister">Password: </label>
        <input id="passwordRegister" name="passwordRegister" type="password" required/>
        <button type="submit" id="registerSubmit">Submit</button>
        <div id="showErrorRegister"></div>
    </section>
    <section id="loginPage" class="currentSelected" >
        <h2>Login</h2>
        <label for="usernameLogin">Username: </label>
        <input id="usernameLogin" name="usernameLogin" type="text" required/>
        <label for="passwordLogin">Password: </label>
        <input id="passwordLogin" name="passwordLogin" type="password" required/>
        <button type="submit" id="loginSubmit">Submit</button>
    </section>
    <section id="logoutPage" hidden>
        <h2>Logout</h2>
        <p>Logout Page</p>
    </section>
    <%- include('footer') -%>
    