<%- include('header') -%>
    <section id="homePage" hidden>
    </section>

















    <section id="vinylPage" hidden>
            <div class ="mainHomePage">
                    <div class="postsHome">
                        <div class="mainTitlePostsHome" hidden>
                            <h2 >Latest Reviews</h2>
                        </div>
                        <div class="blogPostsHome"></div>
                    </div>
                    <div class="favBlogPostHome">
                        <div class="mainTitleFavHome" hidden>
                            <h2 >Favorite Reviews</h2>
                        </div>
                        <div class="favBlogsHome"></div>
                    </div>
                 </div>
    </section>













    
    <section id="myBlogsPage" hidden>
        <h3 class="notLogged">Not logged in. Please proceed to login page.</h3>
            <div class="mainMyBlogs">
                    <div class="postsMyBlogs">
                    </div>
                    <div class="modifyMyBlogs" hidden>
                        <h2>Modify Reviews</h2>
                        <h3>Post New Review</h3>
                        <fieldset class="newBlog">
                            <label for="titlePost" class="fielditem">Title </label>
                            <input type="text" id="titlePost" class="fielditem"/>
                            <label for="contentPost" class="fielditem">Content </label>
                            <textarea name="text" id="contentPost" class="content" rows="20" wrap="soft"></textarea>
                            <button id="postBlog">Post Review</button>
                            <h5 class="errorPost"></h5>
                        </fieldset>
                        <h3>Delete Review</h3>
                        <fieldset class="deleteBlog">
                            <label for="idDelete" class="fielditem">ID </label>
                            <input type="text" id="idDelete" class="fielditem"/>
                            <button id="deleteBlog">Delete Review</button>
                            <h5 class="errorDelete"></h5>
                        </fieldset>
                        <h3>Update Existing Review</h3>
                        <fieldset class="updateBlog">
                            <label for="idUpdate" class="fielditem">ID </label>
                            <input type="text" id="idUpdate" class="fielditem"/>
                            <label for="titleUpdate" class="fielditem">Title </label>
                            <input type="text" id="titleUpdate" class="fielditem"/>
                            <label for="contentUpdate" class="fielditem">Content </label>
                            <textarea name="text" id="contentUpdate" class="content" rows="20" wrap="soft"></textarea>
                            <button id="updateBlog">Update Review</button>
                            <h5 class="errorUpdate"></h5>
                        </fieldset>
                    </div>
                </div>
    </section>















    <section id="browsePage" hidden>
            <form id="searchMusic" onsubmit="return false">
                <label for="searchTermMusic">Search: </label>
                <input id="searchTermMusic" name="searchMusic" type="text" required/>
                <div class="searchArtist">
                        <button type="button" class="searchArtist">Artist</button>
                </div>
                <div class="searchTrack">
                    <button class="searchTrack">Track</button>
                </div>
                <div class="searchAlbum">
                    <button class="searchAlbum">Album</button>
                </div>
            </form>
            <div class="resultsMusic">
                    <ul id="searchResultsMusic">
                    </ul>
            </div>
    </section>
























    
    <section id="registerPage" hidden>
        <h2>Register</h2>
        <label for="usernameRegister">Username: </label>
        <input id="usernameRegister" name="usernameRegister" type="text" required/>
        <label for="passwordRegister">Password: </label>
        <input id="passwordRegister" name="passwordRegister" type="password" required/>
        <button type="submit" id="registerSubmit">Submit</button>
        <div id="showErrorRegister"></div>
    </section>










    <section id="loginPage" class="currentSelected" >
        <h2>Login</h2>
        <label for="usernameLogin">Username: </label>
        <input id="usernameLogin" name="usernameLogin" type="text" required/>
        <label for="passwordLogin">Password: </label>
        <input id="passwordLogin" name="passwordLogin" type="password" required/>
        <button type="submit" id="loginSubmit">Submit</button>
        <div id="showErrorLogin"></div>
    </section>













    <section id="logoutPage" hidden>
        <h2>Logout</h2>
        <p>Logout Page</p>
    </section>
    <%- include('footer') -%>
    