*{
    box-sizing: border-box;
    background-color: white;
}

#homePage{
    position: relative;
    text-align: center;
}

#homePageImage{
    width: 100%;
    margin-top: 10px;
}

#homePage .titleHomePageImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    font-size: 40px;
}

#vinylPageImage, #blogPageImage, #registerPageImage{
    width: 100%;
    margin-top: 10px;
}


#vinylPage .titleVinylPageImage{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    font-size: 40px;
    text-align: center;
}

#myBlogsPage .titleBlogsPageImage{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    font-size: 40px;
    text-align: center;
}

#registerPage .titleRegisterPageImage{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    text-align: center;
}

#loginPage .titleLoginPageImage{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    text-align: center;
}

#logoutPage .titleLogoutPageImage{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 50%; 
    padding: 40px; 
    text-align: center;
}

.titleRegisterPageImage, .titleLoginPageImage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.usernameRegister, .passwordRegister, .usernameLogin, .passwordLogin{
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    color: white;
}

#registerTitleImg, #loginTitleImg, #logoutTitleImg{
    background-color: transparent;
    font-size: 40px;
    border: 2px white solid;
    padding: 10px;
}

#logoutLegend{
    background-color: transparent;
    font-size: 25px;
    padding: 10px;
}

#registerSubmit, #loginSubmit{
    margin: 20px 70px;
    padding: 10px;
}
  
body{
    font-family: Verdana, sans-serif;
    font-size: 13px;
    color: black;
    margin: 0;
    padding: 10px;
}
  
h1{
    background-color: white;
    margin: 10px 0px;
    padding: 20px;
    color: black;
    border: 3px groove red;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}

#home, #vinyl, #myBlogs, #browse, #register, #login, #logout{
    width: 100%;
    text-align: center;
    align-self: flex-start;
    margin-right: 10px;
}

#home{
    border-left: 8px black solid;
}

#menu > li{
    float: left;
    padding: 20px;
}
  
#menu > li:hover, .selected{
    background-color: #1c1c1b;
    color: white;
    cursor: pointer;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: row;
}
  

.fielditem{
    padding: 5px 0px;
    width: 100%;
}

.content{
    padding: 5px 0px;
    width: 100%;
    height: 200px;
    word-wrap: break-word;
    word-break: break-all;
}

.modifyMyBlogs{
    width: 50%;
    padding: 0px 15px;
    margin: 15px 15px;
}

#postBlog, #deleteBlog, #updateBlog{
    margin: 5px 0px;
    padding: 5px;
    background-color: gray;
    color: white;
    border-top: 2px black;
    border-bottom: 2px black;
}

.errorPost, .errorDelete, .errorUpdate{
    color: red;
}
  
.formElement{
    font-size: 14px;
    padding: 5px 10px;
    width: 300px;
}
  
select{
    font-size: 14px; 
    width: 250px;  
}
  
#submitButton{
    background-color: #56C56F;
}

  
#cancelButton{
    background-color: #D9534F;
}
  
.errorMessage{
    color: red;
}

.mainHomePage, .mainMyBlogs{
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
}

.postsHome{
    width: 50%;
    margin: 0px 15px 0px 0px;

}
.favBlogPostHome{
    width: 50%;
    margin: 0px 0px 0px 15px;
}

.post{
    border: 2px solid red;
    background-color: white;
    color: black;
    margin: 15px 0px;
    padding: 0px 15px;
}

#titleBlog{
    background-color: white;
    color: black;
    padding: 0px 0px 3px 3px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#authorBlog, #dateBlog, #postIdHome, #contentBlog, #buttonFav{
    background-color: white;
    color: black;
}

.addFavorite{
    background-color: white;
    margin: 2px 0px 5px 0px;
    padding: 10px;
    border-radius: 4px;
}

.favoriteHome{
    background-color: red;
    margin: 2px 0px 5px 0px;
    padding: 10px;
    border-radius: 4px;
}

.postsMyBlogs{
    width: 50%;
}


#title{
    padding: 20px;
    background-color:darkgray;
}

#postOrder{
    display: flex;
    background-color: white;
    flex-direction: row;
    width: 100%;
    text-align: left;
    align-self: flex-start;
    justify-content: space-between;
}

.styleBrowsePage{
    display: flex;
    flex-direction: column;
}

#searchMusic{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#searchTermMusic{
    padding: 10px 80px;
}

#buttonsSearch{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
}

.searchArtist, .searchTrack, .searchAlbum{
    padding: 5px;
}

.showArtist{
    margin: 10px 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: flex-start;
}

.imgArtist, .imgSong, .imgAlbum{
    width: 30%;
    align-self: flex-start;
}

.infoArtist{
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 30px;
    justify-content: space-around;
}

#linkArtist, #linkSong{
    color: black;
    font-size: 14px;
}

.showSongs, .showAlbums{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.song, .album{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 10px 300px;
    line-height: 30px;
    padding: 10px;
}

.infoSong, .infoAlbum{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

